BODY {
background: #AAAAAA;
}


table{
  display: table;
}

row1, row2, row3{
  display:table-row;
}


.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
  display: table-cell;
  width: 162px;
  height: 162px;
  border: 1px solid black;
  background: url(spurs2.jpeg);
  cursor: pointer;
}

.tile1 {background-position: left top;}
.tile2 {background-position: center top;}
.tile3 {background-position: right top;}
.tile4 {background-position: left center;}
.tile5 {background-position: center center;}
.tile6 {background-position: right center;}
.tile7 {background-position: left bottom;}
.tile8 {background-position: center bottom;}
.tile9 {background: white; cursor: default;}
